---
- name: Create an Authenticator Mapping in AAP
  hosts: all
  become: false
  gather_facts: false

  vars:
    aap_username: "{{ vault_aap_username | default(lookup('env', 'CONTROLLER_USERNAME')) }}"
    aap_password: "{{ vault_aap_password | default(lookup('env', 'CONTROLLER_PASSWORD')) }}"
    aap_hostname: "{{ vault_aap_hostname | default(lookup('env', 'CONTROLLER_HOST')) }}"
    aap_validate_certs: "{{ vault_aap_validate_certs | default(lookup('env', 'CONTROLLER_VERIFY_SSL')) }}"
    controller_validate_certs: "{{ aap_validate_certs }}"

  tasks:
    - name: Create the Auth Mapping from LDAP group(s)
      ansible.platform.authenticator_map:
        aap_hostname: "{{ aap_hostname }}"
        aap_username: "{{ aap_username }}"
        aap_password: "{{ aap_password }}"
        authenticator: "{{ auth_map_authenticator }}"
        map_type: "{{ auth_map_type }}"
        name: "{{ auth_map_name }}"
        order: 1
        organization: "{{ auth_map_org }}"
        revoke: true
        role: "{{ auth_map_role }}"
        team: "{{ auth_map_team | default(omit) }}"
        triggers:
          groups:
            has_and:
              - "{{ auth_map_ldap_group }}"

