---
- name: Create a project in AAP
  hosts: all
  become: false
  gather_facts: false

  vars:
    aap_username: "{{ vault_aap_username | default(lookup('env', 'CONTROLLER_USERNAME')) }}"
    aap_password: "{{ vault_aap_password | default(lookup('env', 'CONTROLLER_PASSWORD')) }}"
    aap_hostname: "{{ vault_aap_hostname | default(lookup('env', 'CONTROLLER_HOST')) }}"
    aap_validate_certs: "{{ vault_aap_validate_certs | default(lookup('env', 'CONTROLLER_VERIFY_SSL')) }}"
    controller_validate_certs: "{{ aap_validate_certs }}"

  tasks:
    - name: Create the project
      awx.awx.project:
        controller_host: "{{ aap_hostname }}"
        controller_username: "{{ aap_username }}"
        controller_password: "{{ aap_password }}"
        name: "{{ project_name }}"
        organization: "{{ project_org }}"
        scm_type: git
        scm_url: "{{ project_url }}"
        state: present
