---
- name: Lookup and debug using schedule_rrule plugin
  hosts: localhost
  become: false
  gather_facts: false
  vars:
    start_month: "09"
    start_day: "14"
    start_year: "2025"
    start_time: "13:00:00"
    start_date_def: "{{ start_year }}-{{ start_month }}-{{ start_day }} {{ start_time }}"
  tasks:
    - name: Show debug output of lookup plugin
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.controller.schedule_rrule', 'none', start_date=(start_date_def)) }}"
